.grid-container {
    display: flex;
    align-items: center;

    .grid {
        width: 35vw;
        height: 35vw;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(11%, 1fr));
        padding: 5px;
        background-color: #9f9f9f;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
    }
}

@media only screen and (max-width: 1400px) {
    .grid-container {
        .grid {
            width: 45vw;
            height: 45vw;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .grid-container {
        .grid {
            width: 55vw;
            height: 55vw;

            .grid-item {
                min-height: 5vw;
                font-size: 2vw;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .grid-container {
        flex-direction: column;

        .grid {
            width: 65vw;
            height: 65vw;

            .grid-item {
                font-size: 4vw;
            }

            aside {
                width: 10vw;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .grid-container {
        .grid {
            width: 95vw;
            height: 95vw;
            margin-bottom: 3vw;

            .grid-item {
                min-height: 5vw;
                font-size: 4vw;
            }
        }
    }
}
