aside {
    border-radius: 8px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > div {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        transition: 0.5s;
        background-color: #f5f5f5;
        border-radius: 8px;

        &.selected {
            background-color: #98a6dd;
        }

        &:hover {
            background-color: #f0bdbd;
            cursor: pointer;
        }

        & > svg {
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 768px) {
    aside {
        display: flex;
        flex-direction: row;
        margin: 2vw 0;

        & > div {
            border: none;
            border-right: 1px solid #ddd;
        }
    }
}
