aside {
    border: 1px solid #000;

    & > div {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        border-bottom: 1px solid #000;
        transition: 0.5s;

        &.selected {
            background-color: #98a6dd;
        }

        &:hover {
            background-color: #f0bdbd;
            cursor: pointer;
        }

        & > svg {
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 768px) {
    aside {
        display: flex;

        & > div {
            border: none;
            border-right: 1px solid #000;
        }
    }
}
