.grid-item {
    min-height: 3vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    font-size: 1.5vw;
    box-sizing: border-box;
    position: relative;

    &:nth-of-type(odd) {
        animation: forwards 1s animationLeft;
        animation-iteration-count: 1;
    }

    &:nth-of-type(even) {
        animation: forwards 1s animationRight;
        animation-iteration-count: 1;
    }

    &:nth-of-type(3n):not(:nth-of-type(9n)) {
        border-right: 1px solid #545454;
    }

    &:nth-of-type(n + 19):nth-of-type(-n + 27),
    &:nth-of-type(n + 46):nth-of-type(-n + 54),
    &:nth-of-type(n + 82):nth-of-type(-n + 90) {
        border-bottom: 1px solid #545454;
    }

    &.covered {
        background-color: #f5f5f5;
    }

    &.guiding-bg {
        background-color: #fff4d2;
    }

    &.guessed {
        border-color: #7157d8;
    }

    &.pen-clicked {
        animation: borderWidthChange 1s infinite;
    }

    &.win {
        animation: win 2s infinite !important;
    }

    &.wrong-guess {
        animation: wrongGuess 2s infinite !important;
    }

    .correct-answer {
        position: absolute;
        right: 3px;
        bottom: 3px;
        font-size: 1.2vw;
    }
}

@keyframes animationLeft {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes animationRight {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes borderWidthChange {
    50% {
        background-color: rgb(255, 216, 143);
    }
}

@keyframes win {
    50% {
        background-color: rgb(58, 182, 77);
        border-color: rgb(185, 255, 196);
    }
}

@keyframes wrongGuess {
    50% {
        border-color: rgb(171, 23, 23);
        background-color: #ffadad;
    }
}
